{% extends 'shop/basic.html' %}

{% block title%} Rural ProductsFun - About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">AICTE Activity </h1>
      <p>Apart from technical knowledge and skills, to be successful as professionals, we should have excellent
      soft skills, leadership skills and team spirit along with entrepreneurial capabilities and societal commitment.
      In order to match these multifacrious requirement, AICTE has created a unique mechanism of awarding minimum
      100 ponts over and above the academic grades.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

 <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src='\media\shop\images\varun1.jpg' width="1000px" height="350px" class="card-img-top" alt="varun">
      <div class="card-body">
        <h5 class="card-title">VARUN M</h5>
        <p class="card-text">4PS18EC114 <BR>6th Sem 'C' section</p>
      </div>
    </div>
  </div>
  <!--
  <div class="col">
    <div class="card">
      <img src='\media\shop\images\rakshith1.jpg' width="258px" height="350px" class="card-img-top" alt="rakshith">
      <div class="card-body">
        <h5 class="card-title">RAKSHITH KUMAR</h5>
        <p class="card-text">4PS18EC080 <br> 6th Sem 'C' section</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src='\media\shop\images\navya.jpg' width="258px" height="350px" class="card-img-top" alt="navya kadam">
      <div class="card-body">
        <h5 class="card-title">NAVYA KADAM</h5>
        <p class="card-text">4PS18EC119 <br> 6th Sem 'C' section </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src='\media\shop\images\sushmitha.jpg' width="258px" height="350px" class="card-img-top" alt="Sushmitha">
      <div class="card-body">
        <h5 class="card-title">SUSHMITHA B N</h5>
        <p class="card-text">4PS18EC109 <br> 6th Sem 'C' section</p>
      </div>
    </div>
  </div> -->
</div>

</main>





{% endblock %}
